<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
<meta property="og:description" content="{% if page.description %}{{ description | strip_html | condense_spaces | truncate:150 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:url" content="{{ canonical }}" />
<meta property="og:image" content="{% if page.ogp_image %}{{ site.url }}{{ page.ogp_image }}{% else %}{{ site.url }}{{ site.default_ogp_image }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="{{ site.facebook_locale }}" />
<meta property="og:type" content="{% if page.index %}blog{% else %}article{% endif %}" />

<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
<meta name="twitter:description" content="{% if page.description %}{{ description | strip_html | condense_spaces | truncate:150 }}{% else %}{{ site.description }}{% endif %}">

{% if site.twitter_creator %}<meta name="twitter:creator" content="@{{ site.twitter_creator }}">{% endif %}

{% if page.ogp_image_twitter %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.ogp_image_twitter }}">
{% else if page.ogp_image %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.ogp_image }}">{% endif %}
