<script src="https://www.youtube.com/iframe_api" defer></script>
<script defer>

  /* Based on: http://labnol.org/?p=27941 */

  // function onYouTubeIframeAPIReady() {
  //   initialize();
  // }

  document.addEventListener("DOMContentLoaded", initialize );

  function initialize() {
    var div, n,
      v = document.getElementsByClassName("youtube-player");
    for (n = 0; n < v.length; n++) {
      div = document.createElement("div");
      div.setAttribute("data-id", v[n].dataset.id);
      div.innerHTML = labnolThumb(v[n].dataset.id, v[n].dataset.thumbsize);
      div.onclick = labnolIframe;

      v[n].classList.add("ytp-thumbnail-overlay");
      v[n].classList.add("ytp-cued-thumbnail-overlay");

      v[n].appendChild(div);
    }
  }

  function labnolThumb(id, thumbSize) {
    var thumb = getThumb(thumbSize);
    var thumbWithId = thumb.replace("ID", id);

    var youtubePlayButton = '<div class="play-youtube-button"><button class="ytp-large-play-button ytp-button" aria-label="Play Video"><svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77 2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65 .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z" fill="#1f1f1e" fill-opacity="0.81"></path><path d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff"></path><path d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc"></path></svg></button></div>';



    var bg = '<div class="bg" style=\'background-image: url(\"' + thumbWithId + '\')\"></div>';
    var fadeBg = '<div class="fadeBg"></div>';
    return bg + fadeBg + youtubePlayButton;
  }

  function getThumb(thumbSize) {
    if (thumbSize === "0")
      return 'https://i.ytimg.com/vi/ID/hqdefault.jpg';
    if (thumbSize === "1")
      return 'https://i.ytimg.com/vi/ID/sddefault.jpg';
    else if (thumbSize === "2")
      return 'https://i.ytimg.com/vi/ID/maxresdefault.jpg';
    return 'https://i.ytimg.com/vi/ID/sddefault.jpg';
  }

  function labnolIframe() {
    var container = document.createElement("div");

    var loaderContainerOuter = document.createElement("div");
    loaderContainerOuter.setAttribute("style", "display: table; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: black; z-index: 200;");
    var loaderContainerMiddle = document.createElement("div");
    loaderContainerMiddle.setAttribute("style", "  display: table-cell; vertical-align: middle;");
    var loaderContainerInner = document.createElement("div");
    loaderContainerInner.setAttribute("style", "margin-left: auto; margin-right: auto; width: 400px;");

    loaderContainerOuter.appendChild(loaderContainerMiddle);
    loaderContainerMiddle.appendChild(loaderContainerInner);

    const loader = Rocket.loader({
      target: loaderContainerInner,
      size: 'large',
      type: 'spinner',
      colour: 'grey-blue-dark'
      //body: "Loading Video"
    });

    var containerPlayer = document.createElement("div");
    container.appendChild(containerPlayer);
    container.appendChild(loaderContainerOuter);

    this.parentNode.replaceChild(container, this);

    var didLoadAndPlay = 0;
    player = new YT.Player(containerPlayer, {
      videoId: this.dataset.id,
      playerVars: { 'autoplay': 1 },
      events: {
        'onReady': function(event) {
          event.target.playVideo();

          // Fallback if onStateChange is not called
          setInterval(function () {
            if (didLoadAndPlay === 0) {
              container.removeChild(loaderContainerOuter);
              didLoadAndPlay = 1;
            }
          }, 5000);
        },
        'onStateChange': function (event) {
          if (didLoadAndPlay === 0) {
            container.removeChild(loaderContainerOuter);
            didLoadAndPlay = 1;
          }
        }
      }
    });

  }

</script>


<script src="/javascripts/rocket-loader/tools.min.js" defer></script>
<script src="/javascripts/rocket-loader/loader.min.js" defer></script>